@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+NKo+Unjoined:wght@400..700&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    color: white;
}

body {
    position: relative;
    z-index: 0;
    background-color: black;
    color: white;
    /* plano cartesiano */
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 100px 100px;
    /* tamanho da grade */
    background-position: center;
    overflow: hidden;
}

/* Utilitários */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

/* ----- Efeito de blur seguindo o mouse ----- */
.blur-cursor {
    position: fixed;
    width: 180px;
    height: 180px;
    pointer-events: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    backdrop-filter: blur(40px);
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.20) 0%,
            rgba(255, 255, 255, 0.05) 35%,
            rgba(0, 0, 0, 0) 80%);

    mix-blend-mode: screen;
}


/* --------- header ---------*/
header {
    width: 100%;
    height: 10%;
    background-color: black;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
}

header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.692),
            rgba(255, 255, 255, 0));
    pointer-events: none;
}

.HeaderTitulo {
    width: 33%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.HeaderPesquisa {
    width: 33%;
    display: flex;
    align-items: center;
}

.icones {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

header>div {
    opacity: 0;
    transform: translateX(-40px);
    animation: slideHeader 0.8s ease-out forwards;
}

.divLink {
    text-decoration: none;
}

.LinkIcons {
    display: inline-block;
    color: white;
    text-decoration: none;
    position: relative;
}

/* Linha animada */
.LinkIcons::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.LinkIcons:hover::after {
    width: 100%;
}

/* --------- Site --------- */

.pagina {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(60px);
    animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.conteudo {
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
}

.nome {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-left: 50px;
}

.FotoApresentacao {
    min-width: 300px;
    width: 30%;
}

.imgInicio {
    min-width: 300px;
    width: 100%;
    border-radius: 50%;
}

/* Tela Pequena/Celular */
@media(max-width: 1250px) {
    .blur-cursor {
        display: none;
    }

    .conteudo {
        width: 100%;
        
        display: flex;
        justify-content: center;
    }

    .pagina{
        display: flex;
        justify-content: center;
    }
    
    .nome{
        width: 90%;
        padding-top: 50px;
        padding-left: 0;
        text-align: center;
    }
}


#particles-bg {
    position: fixed;
    inset: 0;
    z-index: -2; /* abaixo de tudo */
    pointer-events: none;
}
