<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="Eduardo Ribeiro" content="" />
    <title>NinexHype. - @ViewData["Title"]</title>
    <!-- Favicon-->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/ninexhype-css/home.css">
    <link rel="stylesheet" href="~/ninexhype-css/Layout.css">
    <link rel="stylesheet" href="~/ninexhype-css/admin.css">
</head>

<body>
    <header>
        <div class="HeaderLogo center desktop">
            <a asp-controller="Home" asp-action="Index" class="fs-1 ninexLogo center">9xHype</a>
        </div>
        <div class="fs-1 ADM w100 center">
            <a asp-controller="Admin" asp-action="Index" class="fs-1 ADM">ADMINISTRADOR</a>
        </div>

    </header>

    @RenderBody()

    <!-- Footer-->
    <footer>
        <a class="tituloFooter fs-1" asp-controller="Home" asp-action="Index">9xHype</a>
        <div class="contatoFooter">
            <div class="redesSociais">
                <div class="headerFooter fs-5">Redes Sociais</div>
                <div class="iconsRedes">
                    <div class="iconRede"><i class="fa-brands fa-instagram" style="color: #fff;"></i></div>
                    <div class="iconRede"><i class="fa-brands fa-x-twitter" style="color: #fff;"></i></div>
                    <div class="iconRede"><i class="fa-brands fa-facebook-f" style="color: #fff;"></i></div>
                    <div class="iconRede"><i class="fa-brands fa-linkedin-in" style="color: #fff;"></i></div>
                </div>
            </div>
            <div class="parceriaEmail">
                <div class="headerFooter fs-5">Para parcerias ou dúvidas, entre em contato</div>
                <div class="headerEmail">
                    <i class="fa-solid fa-envelope" style="color: #ffffff;"></i> 9xHype@gmail.com
                </div>
            </div>
            <div class="telefone">
                <div class="headerFooter fs-5">Telefone</div>
                <div class="numeroTelefone"><i class="fa-solid fa-phone" style="color: #ffffff;"></i> (14) 99999-9999
                </div>
            </div>
        </div>
        <div class="direitosAutorais">© 2025 9xHype. Todos os direitos reservados</div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/ninexhype-js/home.js"></script>
    <script src="https://kit.fontawesome.com/f950f409a7.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)


</body>

</html>