@model Portifolio.Areas.NinexHype.Models.Categoria

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/NinexHype/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/ninexhype-css/CreateCategoria.css">


<div class="cont-body">
    <h1>Criar Categoria</h1>
    <div class="main">
        <div class="conteudo">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="campo">
                    <label asp-for="Nome" class="tituloCampo fs-3"></label>
                    <input asp-for="Nome" class="inputCampo" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="campo">
                    <label asp-for="TipoRoupaId" class="tituloCampo fs-3"> Tipo do Produto</label>
                    <select asp-for="TipoRoupaId" class="inputCampo" asp-items="ViewBag.TipoRoupaId"></select>
                </div>

                <div class="divBotoes">
                    <input type="submit" value="Criar" class="btn botaoCreate" />
                    <a asp-action="Index" class="btn botaoVoltar">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
