@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: auto;
}

:root {
    --main-BG-color: #101524;
    --RoxoForte-color: #171925;
    --CinzaFraco-color: #192026;
    --Destaque-color: #E75DFF;
    --RosaClarinho-color: #FFA3FD;
    --RoxoClaro-color: #865DFF;
    --RoxoClaroHover-color: #622efe;
    --VerdeCarrinho-color: #008000;
    --VerdeCarrinhoHover-color: #005c00;
    --VermelhoFav-color: #BA1B1B;
    --VermelhoFavHover-color: #a31b1b;
    --VermelhoRemFav-color: #8b0000;
    --VermelhoRemFavHover-color: #6b0101;
    --Amarelo: #E8BB00;
    --AmareloHover: #c5a00d;
    --CinzaClaro: #808080;
    --CinzaClaroHover: #515151;
}

.container {
    background-color: var(--main-BG-color);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 80%;
    height: 80%;
    border: 1px solid var(--VermelhoFav-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}

.detalhesTitulo {
    color: white;
    font-family: Rajdhani;
    font-weight: 600;
}

.detalhesSubtitulo {
    color: white;
}

.areaTitulo {
    width: 80%;
    height: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.quadradoEsq {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.quadradoDir {
    width: 50%;
    height: auto;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.primeiraLinha {
    width: 100%;
    height: 20%;
    padding: 10px;
}

.tituloCampo {
    color: white;
    font-family: Rajdhani;
    font-weight: 600;
    width: 100%;
}

.areaTexto { 
    width: 100%;
    height: 40%;
    border-radius: 5px;
    background-color: var(--CinzaFraco-color);
    color: white;
    font-family: Rajdhani;
    font-weight: 400;
    padding: 5px;
    margin-top: 10px;
}

.segundaLinha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    padding: 10px;
}

.campoDuplo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
}

.terceiraLinha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    padding: 10px;
}

.quartaLinha {
    width: 100%;
    height: 20%;
    padding: 10px;
}

.quintaLinha {
    width: 100%;
    height: 20%;
    padding: 10px;
}

.inputDesc {
    height: 50%;
}

.divBotaoCriar {
    display: flex;
    justify-content: space-around;
}

.botaoCreate {
    background-color: var(--Destaque-color);
    border: var(--RoxoClaro-color);
    justify-self: center;
    align-self: center;
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 20%;
    height: 40px;
    font-weight: 600;
    font-size: 20px;
}

.botaoCreate:hover {
    box-shadow: 0px 4px 8px var(--RoxoClaroHover-color);
    transform: translateY(-2px);
    background-color: var(--Destaque-color);
}

.botaoVoltarLista {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
    width: 100%;
    height: 100%;
    text-align: center;
}

.botaoVoltar {
    width: 20%;
    height: 40px;
    background-color: var(--Destaque-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.botaoVoltar:hover {
    box-shadow: 0px 4px 8px var(--RoxoClaroHover-color);
    transform: translateY(-2px);
}

.botoes {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.botoes:hover {
    background-color: transparent;
}

.botaoDeletar {
    width: 20%;
    height: 40px;
    background-color: var(--VermelhoFav-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.botaoDeletar:hover {
    box-shadow: 0px 4px 8px var(--VermelhoRemFavHover-color);
    transform: translateY(-2px);
}

.botaoDeleteTextoDentroInferno {
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* ------------------------------------------ CSS Input Fotos ------------------------------------------  */

.letraBranca {
    color: white;
}

.bold {
    font-weight: 600;
    font-size: 20px;
}

.previewFoto {
    width: 50% ;
    height: 50% ;
}

.fotosProduto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.previewImg {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.rolagemVertical {
    overflow-y: auto;
}

.rolagemVertical::-webkit-scrollbar {
    width: 4px;
    background-color: var(--CinzaFraco-color);
}

.rolagemVertical::-webkit-scrollbar-thumb {
    background-color: var(--RoxoClaro-color);
    border-radius: 10px;
}

/* ------------------------------------------ Media ------------------------------------------  */

@media (max-width: 960px) {
    .main {
        flex-direction: column;
        width: 80%;
    }

    .quadradoEsq {
        width: 100%;
        align-items: start;
    }

    .quadradoDir {
        width: 100%;
        justify-content: start;
        margin-top: 20px;
    }

    .oculto {
        display: none;
    }

    .botaoMobile {
        display: flex;
    }

    .botaoVoltar {
        width: 40%;
    }

    .fotoGrande {
        height: 150px;
        width: 100%;
    }

    .divFotoPequena {
        width: 100%;
    }

    .fotoPequena {
        height: 100px;
    }
}
