@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --main-BG-color: #101524;
    --RoxoForte-color: #171925;
    --CinzaFraco-color: #192026;
    --Destaque-color: #E75DFF;
    --RosaClarinho-color: #FFA3FD;
    --RoxoClaro-color: #865DFF;
    --RoxoClaroHover-color: #622efe;
    --VerdeCarrinho-color: #008000;
    --VerdeCarrinhoHover-color: #005c00;
    --VermelhoFav-color: #BA1B1B;
    --VermelhoFavHover-color: #a31b1b;
    --VermelhoRemFav-color: #8b0000;
    --VermelhoRemFavHover-color: #6b0101;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botao {
    width: 40%;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;

    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.DashboardC {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botao:hover {
    outline: 2px solid var(--RoxoClaro-color);
    box-shadow: 0px 4px 8px var(--RoxoClaro-color);
    transform: translateY(-2px);    transform: translateY(-2px);
}